body {
    font-family: 'Lato';
    font-size: 15px;
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before {
    content: "";
    display: block;
    margin-top: -75px;
    height: 75px;
}

ul.nav li.main {

}

div.col-md-3 {
    padding-left: 0;
}

div.col-md-9 {
    padding-bottom: 100px;
}

div.source-links {
    float: right;
}

div.col-md-9 img {
  max-width: 100%;
}

@media(min-width:1600px) {
    .container {
        width:1570px
    }
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
    position: static;
}

.bs-sidebar.well {
    padding: 0;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
    z-index: 1;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    background-color: transparent;
    border-right: 1px solid;
}

#aside-dock .active {
    background-color: #f5f5f5;
}

#aside-dock .active a {
    color: #404040;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }
    /* Widen the fixed sidebar */
    .bs-sidebar.affix,
    .bs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-sidebar.affix {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }
    .bs-sidebar.affix-bottom {
        position: absolute; /* Undo the static from mobile first approach */
    }
    .bs-sidebar.affix-bottom .bs-sidenav,
    .bs-sidebar.affix .bs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar.affix-bottom,
    .bs-sidebar.affix {
        width: 263px;
    }
}

/** Xtraball Theme custom */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.sb-text {
    color: #0099c7;
}

.sb-bg {
    bakground-color: #0099c7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
}

h2 {
    margin-top: 50px;
}

h3 {
    margin-top: 40px;
}

h4 {
    margin-top: 10px;
}

h5 {
    margin-top: 5px;
}

.bs-sidebar.affix {
    top: 110px;
}

.sb-main {

}

.sb-header {
    background-color: #0099c7;
    border-color: #0099c7;
    border-bottom-color: #0d83b0;
    border-bottom-width: 1px;
    border-radius: 0;
    min-height: 88px;
    margin-bottom: 0;
    z-index: 1000;
}

.index-header {
    background-color: #0099c7;
    border-top: 1px solid #0ebcf0;
    padding: 20px 0;
    z-index: 1000;
    margin-bottom: 24px;
}

.footer-two {
    background-color: #333;
    color: white;
}

.footer {
    color: white;
    background-color: #0099c7;
    padding: 50px 0;
}

.footer .docs a {
    color: white;
    margin: 10px 0;
}

.footer .docs ul {
    padding-left: 0;
}

.footer .docs li:first-child {
    margin-bottom: 10px;
    font-weight: 700;
}

.footer .docs li {
    color: white;
    list-style-type: none;
    text-indent: 0;
    margin-bottom: 6px;
}

.copyright {
    padding: 20px 0;
    text-align: right;
}


.index-header b,
.index-header p,
.index-header span,
.index-header a {
    color: white;
}

.index-header b {
    font-size: 30px;
}

.index-header p {
    font-size: 16px;
}

.index-header span {
    font-size: 20px;
}

.index-header a {
    margin-left: 10px;
    color: #404040;
}
.index-header a:hover {
    text-decoration: none;
}

.sb-item {
    margin-top: 24px;
}

.sb-radius {
    border-radius: 2px;
}

.sb-affix {
    min-height:90px;
}

.sb-white {
    background-color: white;
    border: 0;
    color: #404040 !important;
}

.sb-white:hover {
    background-color: #404040 !important;
    color: white !important;
}

.index-header .github {
    color: white;
}

.index-header .github:hover {
    color: #404040 !important;
}

.affix + .sb-affix-content {
    padding-left: 90px
}

.navbar-nav {
    margin-left: 25px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    margin-right: 8px;
    font-weight: 700;
}

@media (max-width: 1499px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }
}

@media (min-width: 1500px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
    }
}

@media (max-width: 1100px) {
    .sb-header .navbar-brand {
        overflow: hidden;
        width: 68px;
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav>li>a:hover {
    background: rgba(0, 0, 0, 0.2);
}

ul.dropdown-menu {
    background-color: #0c87b4;
    border-radius: 4px !important;
    margin-top: 6px !important;
}

ul.dropdown-menu a {
    color: white;
    text-transform: uppercase;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: white;
    text-transform: uppercase;
    background-color: #0c6b96;
}

.bs-sidenav {
    font-family: 'Lato';
}

.bs-sidebar {
    margin-top: 20px;
}

pre {
    padding: 0 0 0 4px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    border-left-color: #0099c7;
}

hr {
    border-top: 2px solid #0099c7;
}

ul ul {
    margin-bottom: 12px;
}

code {
    color: #0099c7;
    background-color: #def0f7;
}

li.level-1 {

}

li.level-2 {
    text-indent: 10px;
    font-size: 14px;
}

.level-1 a {
    font-weight: bold;
}

.level-3 a {
    color: #333;
}

.level-3 a:before {
    content: "- ";
}

li.level-3 {
    text-indent: 20px;
    font-size: 14px;
}

.Application .level-3,
.User .level-3 {
    display: none;
}

code.raw {
    line-height: 16px;
}

.Index h4[id]:before {
    margin-top: 0px;
    height: 0px;
}

.Index h4 {
    width: 30% !important;
    float: left;
    height: 170px;
    text-align: center;
    margin-bottom: 60px;
}

.Index h4 em {
    font-size: 12px;
    font-style: normal;
}

.Index h4 a {
    width: 100%;
    height: 170px;
    float: left;
    padding-top: 160px;
    margin-bottom: 12px;
}

.Index h4[id^="installation"] a,
.Index h4[id^="customization"] a,
.Index h4[id^="make"] a,
.Index h4[id^="structure-of-a-module"] a,
.Index h4[id^="api"] a,
.Index h4[id^="layout"] a,
.Index h4[id^="template"] a,
.Index h4[id^="forms"] a,
.Index h4[id^="icon"] a,
.Index h4[id^="stack"] a,
.Index h4[id^="contribute"] a {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #404040;
    filter: grayscale(100%) brightness(60%);
    transition: all .2s ease-in-out;
}

.Index h4 a:hover{
    color: #0099c7 !important;
    text-decoration: none;
    filter: none;
    transform: scale(1.05);
}

.Index h4[id^="installation"] a {
    background-image: url("/img/installation-blue.png");
}
.Index h4[id^="customization"] a {
    background-image: url("/img/configuration-blue.png");
}
.Index h4[id^="make"] a {
    background-image: url("/img/creating-module-blue.png");
}
.Index h4[id^="structure-of-a-module"] a {
    background-image: url("/img/structure)blue.png");
}
.Index h4[id^="api"] a {
    background-image: url("/img/api-blue.png");
}
.Index h4[id^="contribute"] a {
    background-image: url("/img/contribute-blue.png");
}
.Index h4[id^="layout"] a {
    background-image: url("/img/layout-blue.png");
}
.Index h4[id^="template"] a {
    background-image: url("/img/template-blue.png");
}
.Index h4[id^="icon"] a {
    background-image: url("/img/icon-blue.png");
}
.Index h4[id^="forms"] a {
    background-image: url("/img/form-blue.png");
}
.Index h4[id^="stack"] a {
    background-image: url("/img/stack-blue.png");
}

ul.nav.navbar-nav.sb-nav > li:first-child {
    display: none;
}

a[href*='https://github.com']:not(.btn):not(.github):before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f09b";
    margin-right: 6px;
}

a[href*='https://github.com']:not(.btn):not(.github) {
    cursor: pointer;
    margin-top: -44px;
    padding: 6px;
    border: 1px solid;
    border-radius: 4px;
    text-decoration: none;
}

a[href*='https://github.com']:not(.btn):not(.github):hover {
    color: white;
    border-color: white;
    background-color: #0099c7;
}

a[href*='https://github.com/Xtraball/SiberianCMS-Doc/edit/master']:not(.btn):not(.github) {
    float: right;
}

li.HiddenNav {
    display: none;
}